<p id="notice"><%= notice %></p>
    <h1>Computer Tecnology News</h1>
    <hr>

<p>
  <strong>Title:</strong>
  <%= @pc_info.title %>
</p>



<p>

  <%= image_tag(@pc_info.picture_url, width: 300) if @pc_info.picture.present? %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pc_info.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @pc_info.url, @pc_info.url %>
</p>

<%= link_to 'Edit', edit_pc_info_path(@pc_info) %> |
<%= link_to 'Back', pc_infos_path %>
